@font-face {
  font-family: NimbusSans;
  src: url("fonts/NimbusSanL-Reg.otf") format("opentype");
}

@font-face {
  font-family: NimbusSans;
  font-weight: bold;
  src: url("fonts/NimbusSanL-Bol.otf") format("opentype");
}

@font-face {
  font-family: NeueHaasGrotesk;
  src: url("fonts/NeueHaasGroteskRegular.ttf")
}

@font-face {
  font-family: NeueHaasGrotesk;
  font-weight: bold;
  src: url("fonts/NeueHaasGroteskBold.ttf")
}

@media (max-width: 1100px) {
  nav{
    width: 100%;
  }
}

body {
  margin: 0;
  font-family: 'NeueHaasGrotesk','Arial', sans-serif;
  font-size: 24px;
  cursor: crosshair;
  color: #080F0F;
  background-color: #FFFFFF;
  height: 100%;
  overflow: hidden;
}

::selection {
  background: #fff100;
}

a, a:hover, a:visited {
  text-decoration: none;
  color: #080F0F;
}

header {
  font-family: 'NeueHaasGrotesk','Arial', sans-serif;
  font-size: 36px;
  overflow: hidden;
  position: sticky;
  top: 0;
  width: 100%;
  padding: 16px;
  border-bottom: 1px solid black;
  z-index: 10;
}

header a {
  padding-left: 32px;
  padding-right: 32px;
}

code {
  font-family: monospace;
  background-color:#e4eae4;
  border-radius: .25rem;
  color: #080F0F;
  padding: 2px 8px;
}

nav {
  padding: 48px;
  float: left;
  border-right: 1px solid black;
}

.content {
  height: 100vh;
}

.main {
  height: 72vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

p a {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

p a:hover{
  transition: ease-in-out .3s;
  text-decoration: underline 2px;
  color: rgb(117, 117, 117);
}

p a::after {
  content: "\2197\fe0e";
}

.navbar {
  list-style-type: none;
}

.navbar li {
  padding-bottom: 32px;
}

.widget {
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 0;
  font-family: 'NeueHaasGrotesk','Arial', sans-serif;
  font-size: 18px;
}

.social {
  position: fixed;
  bottom: 6vh;
  left: 0;
  margin: 0;
  font-family: 'NeueHaasGrotesk','Arial', sans-serif;
  font-size: 12px;
}